.progress{
    text-align:left;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

.panel{
    margin-top: 10px;
}

button{
    margin-right:5px;
}

.complete-message{
    visibility: hidden;
}