<div class="container">
  <div class="jumbotron">
    <h2>Example of Supplier Status Demo</h2>
  </div>
  <ng-template ngFor let-i [ngForOf]="[ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 ]">
    <button class="btn btn-primary" (click)="setValue( i )" [class.selected]="( i === value )">
    {{ i }}
    </button>
  </ng-template>

  <!-- <button type="button" class="btn btn-primary">Request Switch</button> -->
  <div class="panel panel-primary">
    <div class="panel-heading">Status</div>
    <div class="panel-body">
      <h3>Switch Progress:</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.width.%]="value">{{value}}</div>
      </div>
      <div><h3>Status:{{progressTitle}}</h3></div>
    </div>
  </div>
</div>