<div class="container">
  <div class="jumbotron">
    <img src="../assets/images/logo.png" width="175px" height="56px" />
    <h2>Example of Supplier Status Demo</h2>
  </div>
  <button type="button" (click)="setValue(); checkValue()" class="btn btn-primary">Submit Request</button>
  
  <h3>{{progressTitle}}</h3>
  <div class="panel panel-primary">
    <div class="panel-heading">Progress Status</div>
    <div class="panel-body">
      <div class="progress-title"></div>
      
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.width.%]="progressValue">{{progressValue}}</div>
      </div>
      <div *ngIf="showMessage">Switch Complete</div>
    </div>
</div>
